<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/jee 
           http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<context:component-scan base-package="workflow" />

	<bean id="urlCompileOption" class="org.copperengine.core.wfrepo.URLClassloaderClasspathProvider" />

	<bean id="wfRepository" class="org.copperengine.core.wfrepo.FileBasedWorkflowRepository" scope="singleton"
		init-method="start" destroy-method="shutdown">
		<property name="sourceDirs">
			<list>
				<value>${workflow.source.dir}</value>
			</list>
		</property>
		<property name="compilerOptionsProviders">
			<list>
				<ref bean="urlCompileOption" />
			</list>
		</property>
		<property name="targetDir" value="${workflow.target.dir}" />
		<property name="loadNonWorkflowClasses" value="true" />
	</bean>

    <!--
	<bean id="dataSourceWorkflow" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="dataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource" />
		<property name="idleTimeout" value="20000" />
		<property name="maximumPoolSize" value="10" />
		<property name="connectionTimeout" value="20000" />
		<property name="leakDetectionThreshold" value="200000" />
		<property name="dataSourceProperties">
			<props>
				<prop key="url">${mysql.url}</prop>
				<prop key="user">${mysql.user}</prop>
				<prop key="password">${mysql.pwd}</prop>
				<prop key="prepStmtCacheSize">250</prop>
				<prop key="prepStmtCacheSqlLimit">2048</prop>
				<prop key="cachePrepStmts">true</prop>
			</props>
		</property>
	</bean>
    -->

	<bean id="dbDialect" class="org.copperengine.core.persistent.MySqlDialect" scope="singleton" init-method="startup">
		<property name="wfRepository" ref="wfRepository" />
	</bean>

	<bean id="persistent.dbStorage" class="org.copperengine.core.persistent.ScottyDBStorage" scope="singleton">
		<property name="transactionController" ref="txnController" />
		<property name="dialect" ref="dbDialect" />
		<property name="batcher" ref="batcher" />
		<property name="checkDbConsistencyAtStartup" value="true" />
	</bean>

	<bean id="txnController" class="org.copperengine.core.persistent.txn.CopperTransactionController" scope="singleton">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="batcher" class="org.copperengine.core.batcher.impl.BatcherImpl" scope="singleton" init-method="startup"
		destroy-method="shutdown">
		<constructor-arg type="int">
			<value>10</value>
		</constructor-arg>
		<property name="batchRunner">
			<bean class="org.copperengine.core.batcher.RetryingTxnBatchRunner">
				<property name="dataSource" ref="dataSourceWorkflow" />
			</bean>
		</property>
	</bean>

	<bean id="persistent.ProcessorPool.default" class="org.copperengine.core.persistent.PersistentPriorityProcessorPool"
		scope="singleton">
		<constructor-arg type="java.lang.String">
			<value>P#DEFAULT</value>
		</constructor-arg>
		<constructor-arg type="org.copperengine.core.persistent.txn.TransactionController">
			<ref bean="txnController" />
		</constructor-arg>
	</bean>

	<bean id="persistent.PPManager" class="org.copperengine.core.common.DefaultProcessorPoolManager" scope="singleton">
		<property name="processorPools">
			<list>
				<ref bean="persistent.ProcessorPool.default" />
			</list>
		</property>
	</bean>

	<bean id="persistent.engine" class="org.copperengine.core.persistent.PersistentScottyEngine" scope="singleton"
		init-method="startup" destroy-method="shutdown">
		<property name="idFactory">
			<bean class="org.copperengine.core.common.JdkRandomUUIDFactory"></bean>
		</property>
		<property name="processorPoolManager" ref="persistent.PPManager" />
		<property name="dependencyInjector">
			<bean class="org.copperengine.spring.SpringDependencyInjector"></bean>
		</property>
		<property name="dbStorage" ref="persistent.dbStorage" />
		<property name="wfRepository" ref="wfRepository" />
	</bean>

	<bean id="auditTrail" class="org.copperengine.core.audit.BatchingAuditTrail" init-method="startup" scope="singleton">
		<property name="batcher" ref="batcher" />
		<property name="dataSource" ref="dataSourceWorkflow" />
	</bean>

	<bean class="org.copperengine.spring.JmxExporter" init-method="startup" destroy-method="shutdown" />

</beans>